{% extends 'flatpages/default.html' %}

{% load censor_filter %}

{% block title %}
Новостной портал
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h2>Всего новостей: {{ news|length }}</h2>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
               <td>Рейтин</td>
           </tr>

           {% for post in news%}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.post_time|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
               <td>{{ post.rating }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}